$main-text-color_lg: #fff;
$main-text-color_drk: #000;
$secondary-text-color: #6a6a6a;
$transparent-bg: rgba(0, 0, 0, 0.5);
$secondary-background-color: #303030;
$main-background-color: #fefefe;

$main-button-color: #252525;
$secondary-button-color: #cdcdcd;

$spacer-color: #cfcfcf;
