@use './colors.scss' as colors;
@use './fonts.scss' as fonts;

* {
  font-family: fonts.$brand-secondary-font;
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }
}

//Navbar Styles
.navbar {
  position: sticky;
  z-index: 999;
  top: 0;

  background-color: rgba($color: #fff, $alpha: 0.95);
  border-bottom: 1px solid colors.$secondary-button-color;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 10%;

  .brand-logo {
    color: colors.$main-text-color_drk;
    font-family: fonts.$brand-main-font;
    font-size: 1.8rem;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
  }
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 3vw;

  a {
    color: colors.$main-text-color_drk;
    cursor: pointer;
  }
}

//Image Slider
.image-slider {
  display: flex;
  justify-content: center;

  img {
    cursor: pointer;
    width: 80%;
    object-fit: cover;
  }
}
//landing-page__clothes-category-cards
.landing-page__clothes-category-cards {
  margin: 1rem 0;
  padding: 0 10%;
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 1rem;
}

//Clothes category card
.clothes-category-card__container {
  position: relative;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .clothes-category-card__info {
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: colors.$transparent-bg;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    color: colors.$main-text-color_lg;

    h1 {
      font-size: clamp(0.6rem, 2vw, 3rem);
      text-transform: uppercase;
      text-align: center;
    }
    span {
      font-size: clamp(0.4rem, 1vw, 2rem);

      text-decoration: underline;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
//Clothes category card hover
.clothes-category-card__container:hover {
  img {
    filter: grayscale(100%);
    transition: all 0.5s ease;
    transform: scale(1.1);
  }
}

//Footer
.footer {
  border-top: 1px solid colors.$main-text-color_drk;
  margin-top: 3rem;
  padding: 3rem 5%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, auto);
}

.footer__info-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    color: colors.$secondary-text-color;
  }
  a {
    text-decoration: none;
    color: colors.$secondary-text-color;
    font-size: 0.9rem;
  }
  h3 {
    color: colors.$main-text-color_drk;
  }
  h2 {
    color: colors.$main-text-color_drk;
    font-family: fonts.$brand-main-font;
    font-size: 1.3rem;
    user-select: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid colors.$secondary-text-color;
  }
}

//PRODUCT PAGE STYLES
.products-page__container {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  margin: 2rem 10%;
}

//PRODUCT PAGE COLLECTION
.products-page__options {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 5rem;
}

.products-page__options-groups {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    color: colors.$secondary-text-color;
    font-weight: 500;
    font-size: 0.8rem;
  }

  a {
    user-select: none;
    color: colors.$main-text-color_drk;
    text-underline-offset: 0.25rem;
    font-size: 0.8rem;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
  }
}

//PRODUCTS CONTAINER
.products-page__products-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

//PRODUCT CARD STYLES
.product-card__container {
  img {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  img:hover {
    outline: 1px solid colors.$main-text-color_drk;
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;

  h5 {
    font-size: 1rem;
    font-weight: 600;
  }
}

//PRODUCT INFO PAGE STYLES
.product-info-page__container {
  padding: 2rem 10%;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.5fr 0.3fr;
  gap: 3rem;
}

.product-info-page__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-size: 0.9rem;
  }

  div {
    display: flex;
    gap: 1rem;
  }
}

.product-info-page__image {
  img {
    width: 100%;
  }
}

.product_info-page__info {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  text-align: left;
}

.product-info-page__product-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  span {
    font-size: 1.1rem;
  }
}

.product-info-page__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h3 {
    font-size: 0.9rem;
  }
  span {
    font-size: 0.8rem;
  }
}

.button {
  padding: 0.8rem;
  width: 100%;
  border: none;

  cursor: pointer;

  background-color: colors.$main-button-color;

  border-radius: 0.1rem;
  font-size: 0.8rem;

  font-weight: bold;
  color: colors.$main-text-color_lg;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.main-button {
  background-color: colors.$main-button-color;
}

.secondary-button {
  color: colors.$main-text-color_drk;
  background-color: colors.$secondary-button-color;
}

//MAIN SIZE SELECTOR BUTTON
.size-selector__button {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;

  box-sizing: border-box;

  background-color: colors.$secondary-button-color;

  border-radius: 0.2rem;
  border: none;

  cursor: pointer;

  text-decoration: none;
  span {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: colors.$main-text-color_drk;
  }
}

.size-selector__button:hover {
  border: 1px solid colors.$main-text-color_drk;
}

//COLOR SELECTOR STYLES

.color-selector__button {
  display: grid;
  place-items: center;
  width: 4.5rem;
  height: 2rem;

  border-radius: 0.2rem;
  box-sizing: border-box;

  background-color: colors.$secondary-button-color;
  border: none;

  cursor: pointer;
  text-decoration: none;

  span {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: colors.$main-text-color_drk;
  }
}

//SEARCH BAR
.search-bar {
  display: flex;
  border: 1px solid colors.$secondary-text-color;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.search-bar__icon {
  display: grid;
  place-items: center;
  padding: 0 0.5rem;
}

.search-bar__input {
  border: none;
  font-size: 1rem;
  outline: none;
  background: rgba($color: #fff, $alpha: 0);
}

//CART STYLES

.cart-page_container {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  padding: 2rem 10%;
}

.cart-page_products-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cart-page_checkout {
  padding: 0 8rem;
}

.cart-page_total {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  div {
    display: flex;
    justify-content: space-between;
  }
}

.cart-page_cost-details {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 1.5rem;
}

.cart-page_detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: space-between;
  :nth-child(3) {
    padding-left: 0.5rem;
  }

  :nth-child(5) {
    padding-left: 0.5rem;
  }

  :nth-child(3),
  :nth-child(4),
  :nth-child(5) {
    color: colors.$secondary-text-color;
  }

  :nth-child(6) {
    font-size: 0.9rem;
    color: colors.$secondary-text-color;
  }
}

.cart-page_estimated-total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.cart-page_buttons {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;

  span {
    font-weight: bold;
    font-size: 0.9rem;
  }
}

.cart-page_payment-methods {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  span {
    color: colors.$secondary-text-color;
  }

  div {
    display: flex;
    gap: 0.4rem;
    img {
      width: 3rem;
    }
  }
}

//QUANTITY COUNTER

.quantity-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid black;
}

.quantity-counter__button {
  padding: 0.3rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
  span {
    font-weight: 400;

    font-size: 2rem;
    text-align: center;
  }
}

//CART PRODUCT CARD STYLES

.cart-product-card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.6fr 0.2fr;
  gap: 1rem;
}

.cart-product-card_product {
  display: flex;
  gap: 2rem;

  img {
    width: 50%;
  }
}

.cart-product-card_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    text-wrap: nowrap;
    font-size: 1.1rem;
  }
}

.cart-product-card_quantity {
  display: grid;
  place-items: center;
}

.cart-product-card_total {
  display: grid;
  justify-content: flex-end;
}

.cart-product-card_remove {
  display: grid;
  place-items: center;
}

.selected {
  border: 1px solid colors.$main-text-color_lg;
  background-color: colors.$main-button-color;
  span {
    color: colors.$main-text-color_lg;
  }
}

.spacer {
  height: 1px;
  background-color: colors.$spacer-color;
}

.animated-button:active {
  transform: translateY(5px);
}

.commerce-logo {
  width: 1.7rem;
}

.search-results_text {
  color: colors.$secondary-text-color;

  strong {
    color: black;
  }
}
